
.imageHomePage {
	border-radius: 50%;
	 width: 90%;
  	height: auto;
}

.flex-container {
	display: flex;
}

.font-poppins{
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}

.container1 {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}


.buttonHover:hover {background-color: white}

.buttonHover:active {
  transform: translateY(4px);
}

.buttonHover {
  position: relative;
  color: white;
  text-align: center;
  -webkit-transition-duration: 0.4s;  Safari 
  transition-duration: 0.4s;
 text-decoration: none;
  overflow: hidden;
}

#profileContainer{
  display: block;
}

.img-size-homapage{
  width: 50%; 
  height: 50%;
  padding-top: 40px;
}

.card-border{
  border-radius: 25px;
}